*{
    margin: 0;
    padding: 0;
}
body{
    height: 750px;
    border: 1px solid black;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

.header .header-title{
	width: 100%;
	background-repeat: no-repeat;
}

.tips-security{
	width: 100%;
	padding: 7px 0;
	margin-top: -10px;
	line-height: 16px;
	background: #fffcd8;
	font-family: 'Microsoft yahei';
	font-size:12px;
	color: #666;
	text-align: center;
	vertical-align: middle;
}

.nav-0{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/背景图片1.jpg);
    height: 475px;
    width: 100%;
    /* border: 1px solid red; */
    /* margin-top: 10px; */
}

.nav-2{
     height: 50px;
     width: 60%;
     /* border: 1px solid black; */
     margin: 0 auto;    
}

.nav-2 ul li {
    float: left;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-left: 20%;
}

.nav-2 ul li a{
    color: black;
}

.nav-2 ul li a:hover{
    color: #ff6700;
}

.nav-3{
    text-align: center;
    background-color: #eee;
    border:  1px solid black;
    width: 20%;
    height: 160px;
    margin: 0 auto;
    margin-top: 60px;
}

.nav-3 .nav-4{
    float: right;
    margin-top: 10px;
}

.nav-5{
    /* margin-right: -20px;     */
    width: 180px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

.nav-6{
    border-radius: 10px;
    margin: -5px auto;
    display: block;
    width: 100px;
    height: 25px;
    border: 1px solid black;
}

.nav-6:hover{
    color: #fff;
    background-color: #ff6700;
}